.demo_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .video {
        width: 560px;
        height: 315px;
    }
}