.container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-bottom: 10px;
    font-size: 56px;
    font-weight: 900;
    font-family: sans-serif;
    color: #072684;
    line-height: 64px;
}

.container h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
    font-family: sans-serif;
    color: #000;
}

.text_title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    max-width: 600px;
    line-height: 24px;
    font-family: Helvetica;
}

@media (max-width:960px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 120px;
        margin-top: 160px;
    }
}

@media (max-width:768px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 120px;
        margin-top: 160px;
    }
}

.cta {
    width: 120px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 24px;
    margin-top: 16px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid #072684;
    box-shadow: 0 2px 44px 0 rgb(0 0 0 / 14%);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    text-decoration: none;
    font-weight: 700;
    color: #072684;
    font-family: Helvetica;
}

@media (max-width:768px) {
    .cta {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 12px;
    }
}

.cta:hover {
    background-color: #072684;
    box-shadow: 0 2px 44px 0 rgb(0 0 0 / 14%);
    font-weight: 700;
    border: 1px solid #072684;
    color: #fff;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1)
}

@media (max-width:768px) {
    .container h2 {
        font-size: 32px;
    }

    .container h3 {
        font-size: 16px;
    }

    .text_title {
        font-size: 16px;
    }

    .cta {
        width: 120px;
        height: 50px;
    }

    .project_container {
        margin-top: 32px;
    }
}

.project_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 120px;
}

.project_image {
    flex: 1;
}

.project_image img {
    max-width: 100%;
}

.project_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 32px;
    color: #072684;
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: 300;
    font-family: Helvetica;
    color: #868686;
    text-align: left;
}

.note {
    font-size: 14px;
    color: #868686;
    font-weight: 200;
    font-family: Helvetica;

}

.button {
    padding: 10px 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 48px;
    font-family: sans-serif;
}


/* CSS code for mobile view */
@media (max-width:920px) {
    .project_area {
        flex-direction: column;
        transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    }

    .project_image {
        margin-right: 0;
    }

    .project_image img {
        width: 100%;
        height: auto;
    }

    .project_content {
        margin-top: 30px;
        max-width: 400px;
        align-items: center;
        text-align: center;
    }

    .project_image,
    .project_area {
        margin: 0;
    }

    .button {
        margin-bottom: 100px;
    }
}


@media (max-width:768px) {
    .project_area h2 {
        font-size: 24px;
    }

    .project_area p {
        font-size: 14px;
    }

    .note {
        font-size: 12px;
    }

    .button {
        width: 200px;
        height: 60px;
    }

    .button p {
        font-size: 14px;
        font-weight: 500;
    }
}

.detail {
    margin-top: 24px;
    text-decoration: none;
    color: #000;
    /*border-bottom: 1px solid #000;*/
    font-size: 14px;
    margin-bottom: 56px;
    font-family: Helvetica;
}

/*.detail:hover {
    text-decoration: none;
    border-bottom: 1px solid #545454;
    color: #545454;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}*/

.upcoming {
    color: #2e2e2e;
}